<% provide :title, t("subjects.all_subjects") %>

<h1><%= t "subjects.all_subjects" %></h1>
<ol>
  <% @subjects.each do |subject| %>
    <h2><li class="text-danger"><%= link_to subject.name,
      admin_subject_path(subject) %></li></h2>
  <% end %>
</ol>
