<% provide :title, t("subjects.new_subject") %>

<div class="form-header">
  <h1>
    <span class="glyphicon glyphicon-star"></span>
    <%= t "subjects.new_subject" %>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "subject_form" %>
  </div>
</div>
