<% provide :title, t("course.edit_course") %>

<div class="form-header">
  <h1>
    <span class="glyphicon glyphicon-star"></span>
    <%= t "course.edit_course" %>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "form" %>
  </div>
</div>
