<% provide :title, t("course.all_courses") %>

<h1><%= t "course.all_courses" %></h1>
<ol>
  <% @courses.each do |course| %>
    <h2><li class="text-danger"><%= link_to course.name,
      admin_course_path(course) %></li></h2>
  <% end %>
</ol>
